Champions - Scheduled Messages.json
{
  "name": "Champions - Scheduled Messages",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const options = { timeZone: 'Asia/Dhaka', hour12: false };\nconst now = new Date();\nconst dhakaDayName = now.toLocaleDateString('en-US', { ...options, weekday: 'long' });\nconst dhakaHour = parseInt(now.toLocaleTimeString('en-US', { ...options, hour: '2-digit' }));\n\nif (dhakaDayName === \"Friday\") return []; \n\nlet selectedTemplate = \"\";\nif (dhakaHour >= 5 && dhakaHour < 11) selectedTemplate = \"morning\";\nelse if (dhakaHour >= 11 && dhakaHour < 14) selectedTemplate = \"location_update\";\nelse if (dhakaHour >= 14 && dhakaHour < 16) selectedTemplate = \"afternoon_progress\";\nelse selectedTemplate = \"evening_report\";\n\nreturn [{ json: { templateName: selectedTemplate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -320
      ],
      "id": "0f05e408-6dcb-4206-aa2c-fd9ffd503380",
      "name": "Format Specifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -320
      ],
      "id": "56a75980-f405-46a5-8724-fc4b1b72d66e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/1149569711563841/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.whatsapp_number }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $('Format Specifier').item.json.templateName }}\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"parameter_name\": \"employee_name\",\n            \"text\": \"{{ $json.full_name }}\"\n          }\n        ]\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        -304
      ],
      "id": "85ba9851-e24b-4c56-a94b-0c2f90f5a29e",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "kXwCTrLqZZ7Ve193",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                6,
                4,
                3,
                1,
                2
              ],
              "triggerAtHour": 8
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                6,
                4,
                3,
                2,
                1
              ],
              "triggerAtHour": 12
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                6,
                4,
                3,
                2,
                1
              ],
              "triggerAtHour": 15
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                6,
                4,
                3,
                2,
                1
              ],
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -464
      ],
      "id": "a05ca5b7-b1e9-405f-87d7-18d1fc084d1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "employees",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active_for_tracking",
              "condition": "eq",
              "keyValue": "FALSE"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Test"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        -464
      ],
      "id": "633fb258-23ea-45fd-92fc-87ac5b1c09d6",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "ovPyaFS7leYwiEcU",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Format Specifier": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Format Specifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Dhaka",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "5dc36470-7cea-447d-8323-fcae53fd0224",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6b1619e72c7a67771ee3ceb547062802501090268a7fa6476e4ce776b94042c"
  },
  "id": "GVjbyWdZpKpG7OF8",
  "tags": []
}